<!-- <ul>
  <%# comments.each do |comment| %>
    <%# if comment.id.present? %>
      <li>
        <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>
        <p><%#= comment.content %></p>
        <%# if current_user.owner_id == nil %>
          <p><%#= link_to "コメント編集", edit_health_comment_path(health, comment), remote: true %></p> -->
        <!-- <p><%#= link_to "コメント削除", health_comment_path(comment.health_id, comment.id), method: :delete, remote: true, -->
          <!-- data: { confirm: "本当に削除しますか?"} %></p> -->
          <%# end %>
      <!-- </li>
    <%# end %>
  <%# end %>
</ul> -->