<h3>責任者編集画面</h3>
<%= form_with(model: @manager, local: true) do |form| %>
  <div class="field">
    <%= form.label :name, t('activerecord.attributes.manager.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>