<h3>責任者一覧</h3>
<%= link_to "責任者新規作成", new_manager_path %>
<table>
  <thead>
    <tr>
      <th><%= Manager.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= manager.name %></td>
        <td><%= link_to "編集",edit_manager_path(manager.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>