/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 **= require simple_calendar
 *= require_tree .
 *= require_self
 */

/* .container{
} */

/* .box_css{
  width:  700px;
  margin: auto;
  margin-top: 70px;
  border: solid 1px #b3b6b9;
  background-color: rgb(255, 255, 255);
  padding: 30px 0px;
  } */

/* .button {
  display       : inline-block;
  border-radius : 5%;
  font-size     : 15pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 10px 25px;
  background    : #4da6ff;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  border        : 2px solid #4da6ff;
  margin-top: 10px;
} */

/* .button:hover {
  color         : #4da6ff;
  background    : #ffffff;
} */

/* .sign_up {
  margin-bottom: 30px;
} */

/* .form_group{
  display: inline-block;
  text-align: right;
  width: 150px;
} */

/* .form_a {
  width: 30%;
} */

/* .field {
  padding-bottom: 10px;
} */

/* .remember {
  width: 200px;
} */

/* .icon {
  background-color: rgb(239, 201, 76);
  padding: 20px;
  margin: 20px;
} */

/* .back {
  text-align: left;
} */

/* .hhh {
  display: inline-block;
  text-align: justify;
  text-justify: inter-ideograph;
  width: 70px;
} */

/* .form_team {
  display: inline-block;
  text-align: right;
  width: 80px;
} */

/* .form_b {
} */

/* ul {
  list-style: none;
} */

/* .title_a {
  text-align: left;
} */

/* .form_c {
  text-align: left;
} */

/* .ttt {
  margin: 0px;
  width: 0px;
} */

/* .ggg {
  margin-left: 25em;
  margin-top: 5em;
} */

/* .calender {
  padding-left: 10px;
} */

/* .main{
  background-image: url("bg.jpg");
  background-size: 100%;
  min-height: 90vh;
} */

body {
  padding-top: 110px;
  padding-bottom: 100px;
}


/* @import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-c {
  font-size: 1.8rem;

  position: relative;

  padding: 2rem 4rem 2rem 2rem;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

  color: #fff;
  border-radius: 100vh;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#007adf),
    to(#00ecbc)
  );
  background-image: -webkit-linear-gradient(left, #007adf 0%, #00ecbc 100%);
  background-image: linear-gradient(to right, #007adf 0%, #00ecbc 100%);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

a.btn-c:before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.6rem;
  line-height: 1;

  position: absolute;
  top: calc(50% - 0.8rem);
  right: 1rem;

  margin: 0;
  padding: 0;

  content: "\f30b";
}

a.btn-c:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

  color: #fff;
} */

.bg {
  text-align: center;
}

.box {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #b0e489;
  margin-bottom: 100px;
}

.box p {
  margin: 20px 0;
  padding: 0;
}

.navbar {
  background-color: rgb(254, 227, 176);
}

.footer {
  height: 50px;
  background-color: rgb(254, 227, 176);
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.menu {
  text-align: center;
  margin-top: 50px;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #ff8834;
  margin-right: 20px;
  margin-top: 30px;
  padding: 30px 50px;
}

.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #fa6e0a;
}

.txt {
  font-size: 1px;
  margin-bottom: 0px;
}

.btn-a {
  padding: 13px 10px;
}

.btn {
  width: 400px;
  font-size: 30px;
}

.btn-mp {
  color: #fff;
  background-color: #ff8834;
  margin-right: 10px;
  margin-top: 20px;
  padding: 20px 40px;
}

.btn-mp:hover {
  color: #fff;
  background: #fa6e0a;
}

.mp--radius {
  border-radius: 100vh;
}

.box_css {
  text-align: center;
  margin: 0 auto;
}

.reg_ed {
  margin-bottom: 10px;
}

.reg_na {
  margin-top: 40px;
}

.reg_bt {
  margin-top: 30px;
  border: 4px solid #ffcc5e;
  padding: 10px 20px;
  background-color: white;
}

ul {
  list-style: none;
}

.care {
  margin-bottom: 20px;
}

.box_title {
  margin-bottom: 40px;
  margin-top: 10px;
}